img[alt="AptumTek GmbH"] { width: 386px; }

img[alt="Polo Exchange"],
img[alt="B-Trex"],
img[alt="CryptoRadar"]
{
  width: 128px;
  border-radius: 22%;
  overflow: hidden;
}

.container h1, .container h2, .container h3, .container h4 {
  margin-bottom: 20px;
  text-align: left;
  padding: 0 5%;
}

.section {
  min-height:300px;
  padding: 40px 0;
}

.section:first-of-type {
    padding-top: 100px;
}

.container p:first-of-type {
    margin-top: 0px;
}
